*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1{
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}

#page-title{
    /* te llaman 3 fuentes en el caso que no exista 
    una de ellas en el navegador */
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 18px;
    font-family: monospace;
}

#main-nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0px;
}

#main-nav li{
    display: inline-block;
}

#main-nav a{
    color: white;
    background-color: blue;
    padding: 5px;
    text-decoration: none;
}

#main-nav .blog{
    background-color: yellowgreen;
}