*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    margin: 10px 30px;
}

.title{
    background-color: aqua;
    color:azure;
    border: 3px green solid;
    border-radius: 10px;
    width: 200px;
    position: relative;
    top: 25px;
    left: 150px;
}

.title h1{
    text-align: center;
}

.param{
    border: 3px green solid;
    border-radius: 10px;
    width: 550px;
    height: 350px;
}

.param p{
    position: relative;
    top: 150px;
    left: 100px;
}